
@using CMS.Topcourse.Controllers
@using Topcourse.DataAccess.DTO
@model Topcourse.DataAccess.DTO.Group

@{
    var permission = ((UserFunction)Session[Topcourse.Utility.SessionsManager.SESSION_PERMISSION]);
}

<div class="m-portlet m-portlet--tab">
    <div class="m-portlet__head">
        <div class="m-portlet__head-caption">
            <div class="m-portlet__head-title">
                <span class="m-portlet__head-icon m--hide">
                    <i class="la la-gear"></i>
                </span>
                @if (Model.GroupID > 0)
                {
                    <h3 class="m-portlet__head-text">
                        Cập nhật Group
                    </h3>
                }
                else
                {
                    <h3 class="m-portlet__head-text">
                        Thêm mới Group
                    </h3>
                }
            </div>
        </div>
    </div>

    <form class="m-form m-form--fit m-form--label-align-right" id="form">
        <div class="m-portlet__body">
            <div class="form-group m-form__group m--margin-top-10">
                <div class="alert m-alert m-alert--default" role="alert">
                    Hãy chắc chắn nhập vào đầy đủ thông tin tại các mục bắt buộc đánh dấu (*)
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label class="col-lg-4 col-form-label">Username:<span class="required">(*)</span></label>
                <div class="col-lg-6">
                    <input class="form-control m-input maxlength-handler" type="text" id="txtGroupUserName" maxlength="200" name="GroupUserName" value="@Model.Name" placeholder="Nhập tên nhóm">
                </div>
            </div>

            <div class="form-group m-form__group row">
                <label class="col-lg-4 col-form-label">FullName:<span class="required">(*)</span></label>
                <div class="col-lg-6">
                    <input class="form-control m-input maxlength-handler" type="text" id="txtAlias" maxlength="200" name="Alias" value="@Model.Alias" placeholder="Alias">
                </div>
            </div>

            @{
                var listSystem = (List<SystemUser>)ViewBag.ListSystem;
            }

            <div class="form-group m-form__group row">
                <label class="col-lg-4 col-form-label">Hệ thống:</label>
                <div class="col-lg-6">
                    <select class="form-control" id="ddlSystem" multiple="multiple">
                        <option value="-1">Admin</option>
                        @foreach (var obj in listSystem)
                        {
                            <option value="@obj.Id">@obj.SystemName</option>
                        }
                    </select>
                </div>
            </div>


            <div class="m-form__group form-group row">
                <label class="col-lg-4 col-form-label">Trạng thái :</label>
                <div class="col-lg-6">
                    <div class="m-checkbox-list">
                        <label class="m-checkbox">
                            @if (Model.IsActive == true)
                            {<input type="checkbox" id="cbxIsActive" checked="checked" />}
                            else
                            {<input type="checkbox" id="cbxIsActive" />}
                            <span></span>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div class="m-portlet__foot m-portlet__foot--fit">
            <div class="m-form__actions">
                <div class="row">
                    <div class="col-4">
                    </div>
                    <div class="col-6">
                        @if ((Model.GroupID == 0 && permission.IsInsert) || (Model.GroupID > 0 && permission.IsUpdate))
                        {
                            <button type="submit" id="btnSave" class="btn btn-success">Lưu lại</button>
                        }
                        <button type="reset" id="btnBack" onclick="Back()" class="btn btn-secondary">Cancel</button>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#ddlSystem').select2({
            minimumResultsForSearch: -1,
            placeholder: 'Chọn hệ thống'
        });

        $('.maxlength-handler').maxlength({
            limitReachedClass: "label label-danger",
            alwaysShow: true,
            threshold: 5
        });

        $("#form").validate({
            // define validation rules
            rules: {
                GroupUserName: {
                    required: true
                },
                Alias: {
                    required: true
                }
            },

            //display error alert on form submit
            invalidHandler: function (event, validator) {
                var alert = $('#m_form_1_msg');
                alert.removeClass('m--hide').show();
                mApp.scrollTo(alert, -200);
            },

            submitHandler: function (form) {
                //form[0].submit(); // submit the form
                saveData();
            }
        });

        function saveData() {
                var param = {
                    'GroupID': '@Model.GroupID',
                    'Name': $("#txtGroupUserName").val(),
                    'Alias': $("#txtAlias").val(),
                    'SystemId': $('#ddlSystem :selected').val(),
                    'IsActive': $("#cbxIsActive").is(":checked") ? true : false
                };

                Utils.Loading();
                $.ajax({
                    type: 'POST',
                    url: Utils.UrlRoot + "Home/SaveDataGroupUser",
                    data: param,
                    async: true,
                    success: function (data) {
                        Utils.UnLoading();
                        if (data.redirecturl) {
                            var url = location.hash;
                            window.location.href = data.redirecturl + "?UrlReturn=" + url.substring(2, url.length);;
                        } else {
                            if (data.ResponseCode > 0) {
                                toastr.success(data.Description);
                                setTimeout(function () { Back(); }, 4000);
                            }
                            else {
                                toastr.error(data.Description);
                                return;
                            }
                        }
                    }
                });
            };

    });

    function Back() {
        window.location.href = Utils.UrlRoot + "#" + "/Home/GroupUser";
    }
</script>

