@{
    ViewBag.Title = "Đối tác";
    Layout = Request.IsAjaxRequest() ? null : "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="dc_main clearfix">
        <div id="breadcrumbs" class="breadcrumbs">
            <a onclick="window.location.href = '@Html.Raw(Web.Topcourse.Helper.Utils.Domain)';" href="javascript:;">Trang chủ</a> »
            <span class="breadcrumb_last">Dành cho đối tác</span>
        </div>
    </div>
</div>

<div class="dc_main">
    <div class="container">
        <div class="intense lead v1_header_title" style="">Hợp tác với hàng ngàn cơ sở đào tạo <br> trong nước và quốc tế</div>
    </div>
    <div class="container-full">
        <div class="doitac_img">
            <img src="@Html.Raw(Web.Topcourse.Helper.Utils.Domain)Content/images/doi-tac.jpg" alt="">
        </div>
    </div>
    <div class="container">
        <div class="dc_main">
            <div class="intense tabbable effeckt-tabs-wrap  single_tabs">
                <ul id="tab_ul_doitac" class="intense nav nav-tabs effeckt-tabs ">
                    <li role="presentation" class="active">
                        <a href="#tab_thanhvien" aria-controls="tab_thanhvien" role="tab" data-toggle="tab" class="effeckt-tab active"><h4> Đăng ký thành viên </h4></a>
                    </li>
                    <li role="presentation">
                        <a href="#tab_doitac" aria-controls="tab_doitac" role="tab" data-toggle="tab" class="effeckt-tab"><h4> Đối tác liên kết</h4></a>
                    </li>
                </ul>
                <div class="intense tab-content effeckt-tabs-container">
                    <div class="intense tab-pane effeckt-tab-content  effeckt-show active" id="tab_thanhvien">
                        <div class="intense lead v1_header_title" style="">
                            Hợp tác với Edunet bạn được gì?
                        </div>
                        <div class="intense row" style="padding-top: 30px;">
                            <div class="intense col-lg-4 col-xs-12 col-sm-12 col-md-4 text-center">
                                <p style="padding-bottom: 20px"><img class="size-full" src="@Html.Raw(Web.Topcourse.Helper.Utils.Domain)Content/images/icon_branding.svg" alt=""></p>
                                <h5 class="title-item">Xây dựng và quảng bá thương hiệu</h5>
                                <p><span style="color: #484848;">Tiếp cận hàng triệu học viên tiềm năng<br>Mở rộng quy mô đào tạo<br> Cơ hội hợp tác với các đối tác giáo dục lớn trong nước và quốc tế</span></p>
                            </div>
                            <div class="intense col-lg-4 col-xs-12 col-sm-12 col-md-4 text-center">
                                <p style="padding-bottom: 20px"><img class="size-full" src="@Html.Raw(Web.Topcourse.Helper.Utils.Domain)Content/images/icon_easy_signup.svg" alt=""></p>
                                <h5 class="title-item">Dễ dàng đăng ký</h5>
                                <p><span style="color: #484848;">Luôn cập nhập tính năng hỗ trợ nâng cao<br> Dễ dàng sử dụng với tính năng vượt trội<br>Không mất phí hoa hồng</span></p>
                            </div>
                            <div class="intense col-lg-4 col-xs-12 col-sm-12 col-md-4 text-center">
                                <p style="padding-bottom: 20px><img class="size-full" src="@Html.Raw(Web.Topcourse.Helper.Utils.Domain)Content/images/icon_support.svg" alt=""></p>
                                <h5 class="title-item">Đội ngũ hỗ trợ tận tâm</h5>
                                <p><span style="color: #484848;">Dịch vụ chăm sóc học viên chu đáo<br>Đội ngũ hỗ trợ thân thiện, chuyên nghiệp<br>Cầu nối thông tin giữa nhà trường và học viên</span></p>
                            </div>
                        </div>
                        <p>&nbsp;</p>
                        <section class="intense content-section box-dangky">
                            <div class="intense text-center">
                                <h3>Trở thành đối tác của Edunet</h3>
                                <p><a class="dch_dklh" href="@Html.Raw(Web.Topcourse.Helper.Utils.Domain)dang-ky-doi-tac">Đăng ký miễn phí ngay</a></p>
                            </div>
                        </section>
                        <section id="content-section-905466744" class="intense content-section " style="  margin-bottom: 0; margin-top: 30px; margin-left: 0; margin-right: 0;  padding-top: 0px; padding-bottom:25px; padding-left: 0; padding-right:0; ">
                            <div class="intense container  ">
                                <p style="text-align: center;">
                                    Hoàn thành đăng ký<br>
                                    <strong>TRONG 3 BƯỚC</strong>
                                </p>
                                <p><img class="size-full wp-image-1624 aligncenter" src="" alt=""></p>
                                <div class="intense row " style="padding-top: 30px; padding-bottom: 0; margin-top: 10px; margin-bottom: 0; ">
                                    <div class="intense col-lg-4 col-xs-12 col-sm-12 col-md-4 ">
                                        <p style="padding-bottom: 20px"><img class="size-full wp-image-1625 aligncenter" src="@Html.Raw(Web.Topcourse.Helper.Utils.Domain)Content/images/icon-truycap.svg" alt="" width="132" height="135"></p>
                                        <p style="text-align: center; padding-bottom:20px;">Gọi điện tới Hotline hoặc truy cập vào website Edunet</p>
                                        <p><img class="size-full wp-image-1626 aligncenter" src="@Html.Raw(Web.Topcourse.Helper.Utils.Domain)Content/images/b1.svg" alt="" width="75" height="19"></p>
                                        <p style="text-align: center;">Bước 1</p>
                                    </div>
                                    <div class="intense col-lg-4 col-xs-12 col-sm-12 col-md-4 ">
                                        <p style="padding-bottom: 20px"><img class="size-full wp-image-1627 aligncenter" src="@Html.Raw(Web.Topcourse.Helper.Utils.Domain)Content/images/icon-form.svg" alt="" width="135" height="135"></p>
                                        <p style="text-align: center; padding-bottom:20px;">Điền đầy đủ thông tin vào form đăng ký của Edunet</p>
                                        <p><img class="size-full wp-image-1628 aligncenter" src="@Html.Raw(Web.Topcourse.Helper.Utils.Domain)Content/images/b2.svg" alt="" width="75" height="19"></p>
                                        <p style="text-align: center;">Bước 2</p>
                                    </div>
                                    <div class="intense col-lg-4 col-xs-12 col-sm-12 col-md-4 ">
                                        <p style="padding-bottom: 20px"><img class="size-full wp-image-1629 aligncenter" src="@Html.Raw(Web.Topcourse.Helper.Utils.Domain)Content/images/icon-xacthuc.svg" alt="" width="132" height="135"></p>
                                        <p style="text-align: center; padding-bottom: 20px;">Edunet tiến hành xác thực và đưa thông tin của bạn tới hàng triệu học viên tiềm năng</p>
                                        <p><img class="size-full wp-image-1630 aligncenter" src="@Html.Raw(Web.Topcourse.Helper.Utils.Domain)Content/images/b3.svg" alt="" width="76" height="19"></p>
                                        <p style="text-align: center;">Bước 3</p>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="intense tab-pane effeckt-tab-content  effeckt-hide" id="tab_doitac">
                        <div class="row shortcode-section dc_main dc_site_main clearfix">
                            <div class="col-sm-3">
                                <div class="intense lead dc_widget">
                                    <form method="post" class="searchandfilter">
                                        <ul class="list-unstyled">
                                            <li>
                                                <h4>Danh sách trường</h4>
                                                <ul class="list-unstyled radio-custom">
                                                    <li><input class="sf-input-radio" type="radio" checked="checked" name="input_truong" id="input_truong_all"><label for="input_truong_all" class="sf-label-radio">Tất cả trường</label></li>
                                                    <li><input class="sf-input-radio" type="radio" name="input_truong" id="input_truong_qt"><label for="input_truong_qt" class="sf-label-radio">Quốc tế</label></li>
                                                    <li><input class="sf-input-radio" type="radio" name="input_truong" id="input_truong_vn"><label for="input_truong_vn" class="sf-label-radio">Việt Nam</label></li>
                                                </ul>
                                            </li>
                                            <li class="sf-field-post-meta-danhsachtruong_diadiem" data-sf-field-name="_sfm_danhsachtruong_diadiem" data-sf-field-type="post_meta" data-sf-field-input-type="checkbox" data-sf-meta-type="choice">
                                                <h4>Địa điểm đào tạo</h4>
                                                <ul class="list-unstyled checkbox-custom">
                                                    <li class="sf-level-0 "><input class="sf-input-checkbox" type="checkbox" value="Cần Thơ" checked="checked" name="input_diachi" id="input_diachi_ct"><label class="sf-label-checkbox" for="input_diachi_ct">Cần Thơ</label></li>
                                                    <li class="sf-level-0 "><input class="sf-input-checkbox" type="checkbox" value="Hà Nội" name="input_diachi" id="input_diachi_hn"><label class="sf-label-checkbox" for="input_diachi_hn">Hà Nội</label></li>
                                                    <li class="sf-level-0 "><input class="sf-input-checkbox" type="checkbox" value="Mỹ" name="input_diachi" id="input_diachi_my"><label class="sf-label-checkbox" for="input_diachi_my">Mỹ</label></li>
                                                    <li class="sf-level-0 "><input class="sf-input-checkbox" type="checkbox" value="Pháp" name="input_diachi" id="input_diachi_phap"><label class="sf-label-checkbox" for="input_diachi_phap">Pháp</label></li>
                                                    <li class="sf-level-0 "><input class="sf-input-checkbox" type="checkbox" value="Taiwan" name="input_diachi" id="input_diachi_tw"><label class="sf-label-checkbox" for="input_diachi_tw">Taiwan</label></li>
                                                    <li class="sf-level-0 "><input class="sf-input-checkbox" type="checkbox" value="TP Hồ Chí Minh" name="input_diachi" id="input_diachi_hcm"><label class="sf-label-checkbox" for="input_diachi_hcm">TP Hồ Chí Minh</label></li>
                                                    <li class="sf-level-0 "><input class="sf-input-checkbox" type="checkbox" value="Úc" name="input_diachi" id="input_diachi_uc"><label class="sf-label-checkbox" for="input_diachi_uc">Úc</label></li>
                                                    <li class="sf-level-0 "><input class="sf-input-checkbox" type="checkbox" value="UK" name="input_diachi" id="input_diachi_uk"><label class="sf-label-checkbox" for="input_diachi_uk">UK</label></li>
                                                    <li class="sf-level-0 "><input class="sf-input-checkbox" type="checkbox" value="Việt Nam" name="input_diachi" id="input_diachi_vn"><label class="sf-label-checkbox" for="input_diachi_vn">Việt Nam</label></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </form>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="intense lead dcmain_content">
                                    <div class="v3hocbong row">
                                        <div class="col-sm-6">
                                            <div class="v3hocbong_item">
                                                <div class="v3hocbong_img">
                                                    <img width="45" height="44" src="@Html.Raw(Web.Topcourse.Helper.Utils.Domain)Content/images/lunghwa-university-logo-44-1.png" class="v3hocbong_logo" alt="">
                                                    <a href="#" title="Lunghwa University Of Science And Technology">
                                                        <img width="380" height="290" src="@Html.Raw(Web.Topcourse.Helper.Utils.Domain)Content/images/Lungha7-380x290.jpg" class="v3hocbong_thumb wp-post-image" alt="">
                                                    </a>
                                                </div>
                                                <h2>
                                                    <a href="#" title="Lunghwa University Of Science And Technology" target="_blank">Lunghwa University Of Science And Technology</a>
                                                </h2>
                                                <div class="v3hocbong_padding">
                                                    <div class=" v3hocbong_address">
                                                        <p><strong>Địa chỉ:</strong> No.300, Sec.1, Wanshou Rd., Guishan Shiang, Taoyuan County 33306, Taiwan</p>
                                                    </div>
                                                    <div class=" v3hocbong_desc">
                                                        <p>Lunghwa University Of Science And Technology (Trường Đại học khoa học và công nghệ Long Hoa). Là trường Đại học Khoa học và Công Nghệ hàng đầu ở phía bắc Đài Loan.Trường được Bộ Giáo dục và Đào tạo Cộng hòa Trung Quốc (Đài Loan) kiểm định và công nhận thành lập năm 1969.</p>
                                                    </div>
                                                    <p>Chương trình đào tạo:</p>
                                                </div>
                                                <ul>
                                                    <li><a href="http://Edunet.edu.vn/thac-si-quan-tri-kinh-doanh-lunghwa-university-of-science-and-technology/" title="Thạc sĩ Quản trị kinh doanh">Thạc sĩ Quản trị kinh doanh</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="v3hocbong_item">
                                                <div class="v3hocbong_img">
                                                    <img width="45" height="44" src="@Html.Raw(Web.Topcourse.Helper.Utils.Domain)Content/images/lunghwa-university-logo-44-1.png" class="v3hocbong_logo" alt="">
                                                    <a href="#" title="Lunghwa University Of Science And Technology">
                                                        <img width="380" height="290" src="@Html.Raw(Web.Topcourse.Helper.Utils.Domain)Content/images/Lungha7-380x290.jpg" class="v3hocbong_thumb wp-post-image" alt="">
                                                    </a>
                                                </div>
                                                <h2>
                                                    <a href="#" title="Lunghwa University Of Science And Technology" target="_blank">Lunghwa University Of Science And Technology</a>
                                                </h2>
                                                <div class="v3hocbong_padding">
                                                    <div class=" v3hocbong_address">
                                                        <p><strong>Địa chỉ:</strong> No.300, Sec.1, Wanshou Rd., Guishan Shiang, Taoyuan County 33306, Taiwan</p>
                                                    </div>
                                                    <div class=" v3hocbong_desc">
                                                        <p>Lunghwa University Of Science And Technology (Trường Đại học khoa học và công nghệ Long Hoa). Là trường Đại học Khoa học và Công Nghệ hàng đầu ở phía bắc Đài Loan.Trường được Bộ Giáo dục và Đào tạo Cộng hòa Trung Quốc (Đài Loan) kiểm định và công nhận thành lập năm 1969.</p>
                                                    </div>
                                                    <p>Chương trình đào tạo:</p>
                                                </div>
                                                <ul>
                                                    <li><a href="http://Edunet.edu.vn/thac-si-quan-tri-kinh-doanh-lunghwa-university-of-science-and-technology/" title="Thạc sĩ Quản trị kinh doanh">Thạc sĩ Quản trị kinh doanh</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="v3hocbong_item">
                                                <div class="v3hocbong_img">
                                                    <img width="45" height="44" src="@Html.Raw(Web.Topcourse.Helper.Utils.Domain)Content/images/lunghwa-university-logo-44-1.png" class="v3hocbong_logo" alt="">
                                                    <a href="#" title="Lunghwa University Of Science And Technology">
                                                        <img width="380" height="290" src="@Html.Raw(Web.Topcourse.Helper.Utils.Domain)Content/images/Lungha7-380x290.jpg" class="v3hocbong_thumb wp-post-image" alt="">
                                                    </a>
                                                </div>
                                                <h2>
                                                    <a href="#" title="Lunghwa University Of Science And Technology" target="_blank">Lunghwa University Of Science And Technology</a>
                                                </h2>
                                                <div class="v3hocbong_padding">
                                                    <div class=" v3hocbong_address">
                                                        <p><strong>Địa chỉ:</strong> No.300, Sec.1, Wanshou Rd., Guishan Shiang, Taoyuan County 33306, Taiwan</p>
                                                    </div>
                                                    <div class=" v3hocbong_desc">
                                                        <p>Lunghwa University Of Science And Technology (Trường Đại học khoa học và công nghệ Long Hoa). Là trường Đại học Khoa học và Công Nghệ hàng đầu ở phía bắc Đài Loan.Trường được Bộ Giáo dục và Đào tạo Cộng hòa Trung Quốc (Đài Loan) kiểm định và công nhận thành lập năm 1969.</p>
                                                    </div>
                                                    <p>Chương trình đào tạo:</p>
                                                </div>
                                                <ul>
                                                    <li><a href="http://Edunet.edu.vn/thac-si-quan-tri-kinh-doanh-lunghwa-university-of-science-and-technology/" title="Thạc sĩ Quản trị kinh doanh">Thạc sĩ Quản trị kinh doanh</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="v3hocbong_item">
                                                <div class="v3hocbong_img">
                                                    <img width="45" height="44" src="@Html.Raw(Web.Topcourse.Helper.Utils.Domain)Content/images/lunghwa-university-logo-44-1.png" class="v3hocbong_logo" alt="">
                                                    <a href="#" title="Lunghwa University Of Science And Technology">
                                                        <img width="380" height="290" src="@Html.Raw(Web.Topcourse.Helper.Utils.Domain)Content/images/Lungha7-380x290.jpg" class="v3hocbong_thumb wp-post-image" alt="">
                                                    </a>
                                                </div>
                                                <h2>
                                                    <a href="#" title="Lunghwa University Of Science And Technology" target="_blank">Lunghwa University Of Science And Technology</a>
                                                </h2>
                                                <div class="v3hocbong_padding">
                                                    <div class=" v3hocbong_address">
                                                        <p><strong>Địa chỉ:</strong> No.300, Sec.1, Wanshou Rd., Guishan Shiang, Taoyuan County 33306, Taiwan</p>
                                                    </div>
                                                    <div class=" v3hocbong_desc">
                                                        <p>Lunghwa University Of Science And Technology (Trường Đại học khoa học và công nghệ Long Hoa). Là trường Đại học Khoa học và Công Nghệ hàng đầu ở phía bắc Đài Loan.Trường được Bộ Giáo dục và Đào tạo Cộng hòa Trung Quốc (Đài Loan) kiểm định và công nhận thành lập năm 1969.</p>
                                                    </div>
                                                    <p>Chương trình đào tạo:</p>
                                                </div>
                                                <ul>
                                                    <li><a href="http://Edunet.edu.vn/thac-si-quan-tri-kinh-doanh-lunghwa-university-of-science-and-technology/" title="Thạc sĩ Quản trị kinh doanh">Thạc sĩ Quản trị kinh doanh</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>