
@{
    ViewBag.Title = "Tuyển dụng";
}

<div class="dc_main container">
    <div id="breadcrumbs" class="breadcrumbs">
        <a href="#" rel="v:url" property="v:title">Trang chủ</a> »
        <span class="breadcrumb_last">Tuyển dụng</span>
    </div>
</div>

<div class="page_box clearfix">
    <div class="container">
        <div class="intense lead v1_header_title" style="">Tham gia cùng với chúng tôi</div>
        <div class="dc_main">
            <p><img class="aligncenter wp-image-2564 size-full" src="@Html.Raw(Web.Topcourse.Helper.Utils.Domain)Content/images/tuyen-dung-banner-1.jpg" alt="" width="1143" height="350" srcset="@Html.Raw(Web.Topcourse.Helper.Utils.Domain)Content/images/tuyen-dung-banner-1.jpg 1143w, @Html.Raw(Web.Topcourse.Helper.Utils.Domain)Content/images/tuyen-dung-banner-1-460x141.jpg 460w, @Html.Raw(Web.Topcourse.Helper.Utils.Domain)Content/images/tuyen-dung-banner-1-768x235.jpg 768w, @Html.Raw(Web.Topcourse.Helper.Utils.Domain)Content/images/tuyen-dung-banner-1-960x294.jpg 960w" sizes="(max-width: 1143px) 100vw, 1143px"></p>
            <div id="chaodon">“Edunet luôn chào đón các bạn ứng viên, những người muốn đến với chúng tôi bằng tài năng, trí tuệ, phẩm chất đạo đức và lòng say mê công việc.”</div>
            <div class="intense  " style="padding-top: 30px; padding-bottom: 0; margin-top: 0; margin-bottom: 0; ">
                <div class="row">
                    <div class="intense col-lg-6 col-xs-12 col-sm-12 col-md-6 ">
                        <p style="text-align: justify;">Thực hiện hoài bão tiên phong xây dựng trang ứng dụng tiện ích cho người Việt. Edunet mong muốn kết hợp sự thân thiện vốn có của người Việt Nam, tính chuyên nghiệp mang tầm quốc tế và ứng dụng công nghệ cao để tạo nên nền tảng một website các khóa học toàn diện hàng đầu Việt Nam.</p>
                    </div>
                    <div class="intense col-lg-6 col-xs-12 col-sm-12 col-md-6 ">
                        <p style="text-align: justify;">Tương lai nghề nghiệp vững chắc; các lãnh đạo nhiệt huyết và giàu kinh nghiệm; đồng nghiệp sẻ chia, cởi mở và thân thiện; môi trường làm việc hiện đại, chuyên nghiệp… là những điều Edunet mong muốn mang đến cho toàn cán bộ nhân viên.</p>
                    </div>
                </div>

            </div>
            <div id="chaodon-2">Đến với Edunet, chúng tôi sẽ tạo cho bạn những cơ hội và thử thách để bạn tự khẳng định mình bằng chính tài năng của bạn.</div>
        </div>
    </div>

    <div id="nhanduoc">
        <p><span style="font-size: 24px;">ĐIỀU BẠN NHẬN ĐƯỢC Ở CHÚNG TÔI</span></p>
        <div class="intense row " style="padding-top: 30px; padding-bottom: 0; margin-top: 0; margin-bottom: 0; ">
            <div class="td-col-123">
                <p><i>1</i></p>
                <p>Môi trường làm việc thân thiện, tự chủ và linh hoạt.</p>
            </div>
            <div class="td-col-123">
                <p><i>2</i></p>
                <p>Cơ hội tham gia nhiều lĩnh vực dựa trên nguyện vọng của từng cá nhân</p>
            </div>
            <div class="td-col-123">
                <p><i>3</i></p>
                <p>Khả năng thăng tiến nhanh chóng dựa trên kết quả làm việc</p>
            </div>
            <div class="td-col-123">
                <p><i>4</i></p>
                <p>Có cơ hội được huấn luyện và học hỏi từ các giáo sư trong nước và ngoài nước</p>
            </div>
            <div class="td-col-123">
                <p><i>5</i></p>
                <p>Lương thưởng cạnh tranh, chế độ đãi ngộ, phúc lợi tốt, tương xứng với những gì bạn cống hiến</p>
            </div>
        </div>
    </div>
    <div id="mongmuon">
        <p><span style="font-size: 24px;">ĐIỀU CHÚNG TÔI MONG MUỐN Ở BẠN</span></p>
        <div class="intense row " style="padding-top: 30px; padding-bottom: 0; margin-top: 0; margin-bottom: 0; ">
            <div class="td-col-123">
                <p><i>1</i></p>
                <p>Tinh thần trách nhiệm, có mục tiêu sự nghiệp rõ ràng.</p>
            </div>
            <div class="td-col-123">
                <p><i>2</i></p>
                <p>Có khả năng làm việc theo nhóm, có tinh thần đồng đội</p>
            </div>
            <div class="td-col-123">
                <p><i>3</i></p>
                <p>Đam mê và nhiệt huyết với công việc, giàu ý tưởng sáng tạo</p>
            </div>
            <div class="td-col-123">
                <p><i>4</i></p>
                <p>Tuân thủ kỷ luật, nề nếp tập thể</p>
            </div>
            <div class="td-col-123">
                <p><i>5</i></p>
                <p>Tinh thần cầu thị, không ngừng học hỏi, trau dồi hiểu biết</p>
            </div>
        </div>
    </div>
    <div class="dc_main container">
        <p style="text-align: center; color: #484848; font-weight: 300; font-size: 24px; margin-top: 30px;">HÃY THAM GIA NGAY CÙNG CHÚNG TÔI</p>
        <p style="font-size: 16px; text-align: center; color: #484848; padding-bottom: 30px;">Edunet sẽ mang đến cho bạn cái nhìn mới, trang bị cho bạn những kiến thức cần thiết và tạo cho bạn những cơ hội để bạn phát huy tối đa những khả năng, năng lực của mình. Do đó, nhiệm vụ của bạn sẽ là mơ ước và quyết tâm thực hiện mơ ước đó để tạo cho mình một tương lai tươi sáng với sự nghiệp vững bền tại Edunet.</p>
    </div>

</div>

